{% load staticfiles %}
<html>
    <head>
        <title>Interface de renouvelement de licence MatLab</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"/> 
<style>
body{
	font-family: 'Ubuntu', sans-serif;
}
</style>

    </head>
	<body>
		<nav class="navbar navbar-dark bg-primary" style="margin-bottom:2em; ">
			<ul class="nav">
			  <li class="nav-item">
				<a class="nav-link" href="#" style="color:#FFFFFF">Geeps - Interface de renouvelement</a>
			  </li>
			</ul>
		</nav>

		<main role="main" class="container">
			<div class="row justify-content-center">
			
				<div class="col-8">
				<h2 style="margin-bottom:1em;"> Veuillez renseigner les champs ci-dessous : </h2>
				{% block content %}
				{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>
