{% extends 'tpDjangoApp/base.html' %}
{% load my_form_tag %}
{% load placeholder %}
<html>
    <head>
        <title>Interface de renouvelement de licence MatLab</title>
    </head>


{% if messages %}
	{% for messages in messages %}

	<div
		{% if messages.tags %}
		class ="center text-center alert-width alert alert-dismissable alert -{{ message.tags }}"
		{% endif %} role= "alert">
		<span class= "close" data-dismiss = "alert" aria-label="close">&time;</span>
		<p> {{ message|linebreaksbr }}</p>

	</div>
	{% endfor %}
{% endif %}
<form method = "POST" class="contact">
	
	{{ form }}	
	
	<div class="text-right">
		<button type= "submit" class="btn btn-default">
		</button>
	</div>


	  {% block content %}
		<form method="POST" class="post-form">{% csrf_token %}
			<div class="form-row">
				<div class="form-group col-md-6">
					
						<div class="col">
						<label class="control-label">{{ form.firstname.label_tag }}</label> 
							{{ form.firstname|addclass:"form-control"}}
						</div>
				</div>				
				 
				<div class="form-group col-md-6">
						<div class="col">
							<label class="control-label">{{ form.name.label_tag }}</label> 
							{{ form.name | addclass:"form-control" }}
						</div>		
				 </div>
			</div>
	
			<div class="form-row">
				<div class="form-group col-md-6">
					
						<div class="col">
<label class="control-label">{{ form.email.label_tag }}</label> 
							{{ form.email | addclass:"form-control" }}
						</div>
				</div>				
				 
				<div class="form-group col-md-6">
					
						<div class="col">
<label class="control-label">{{ form.telephone.label_tag }}</label> 
							{{ form.telephone | addclass:"form-control" }}
						</div>		
				 </div>
			</div>	
			
			<div class="form-row">
				<div class="form-group col-md-6">
					
						<div class="col">
<label class="control-label">{{ form.bureau.label_tag }}</label> 
							{{ form.bureau | addclass:"form-control" }}
						</div>
				</div>				
				 
				<div class="form-group col-md-6">
					
						<div class="col">
<label class="control-label">{{ form.batiment.label_tag }}</label> 
							{{ form.batiment | addclass:"form-control" }}
						</div>		
				 </div>
			</div>	

			<div class="form-row">
				<div class="form-group col-md-6">
					
						<div class="col">
<label class="control-label">{{ form.matlabRelease.label_tag }}</label> 
							{{ form.matlabRelease | addclass:"form-control" }}
						</div>
				</div>				
				 
				<div class="form-group col-md-6">
					<label class="control-label">{{ form.operatingSystem.label_tag }}</label> 
						<div class="col">
							{{ form.operatingSystem | addclass:"form-control" }}
						</div>		
				 </div>
			</div>	

			<div class="form-row">
				<div class="form-group col-md-6">
					
						<div class="col">
<label class="control-label">{{ form.hostID.label_tag }}</label> 
							{{ form.hostID | addclass:"form-control" }}
						</div>
				</div>				
			</div>	


			
			<div class="form-row">
<div class="form-group col-md-6">
				<div class="form-group col-md-6">
<button type="submit" class="save btn btn-primary">Valider la demande</button>
</div>
</div>
</div>	
          		
			
		</form>
	{% endblock %}


</form>

</html>
